/*\.pyc
**/__pycache__/
/*\.ipynb_checkpoints
/*\.vtk
/*\.vtu
/*\.pvd
/*\.sol
/*\.xml
/*\.iml
/*\.ini
/*\.pytest_cache
.mypy_cache/*
.idea/*
jupyter/*
.dmypy.json
.hg/*
.hgignore
docs/_build/*
**/output/
CFD2021/*
Example\ Runs/*
